  *, *::before, *::after { 
    margin: 0;
     padding: 0; 
     box-sizing: border-box;
     }

body {
    font-family: 'DM Sans', sans-serif;
    background: #0e0e0e;
    color: #f0ede6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  
 
  header {
    padding: 3rem 4rem 2rem;
    border-bottom: 1px solid #2a2a2a;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    color: #f0ede6;
    letter-spacing: 0.05em;
    line-height: 1;
  }

    .logo span {
        color: #ff6f61;
    }
